@charset"UTF-8";

h1,h2,h3{
    margin:0;
    width:700px;
    padding:10px 0;
}
p{
    margin:0;
    width:700px;
    padding:10px 0;
    background-color: #ccffcc;
}

#wrapper{
    margin:0 auto;
    display:flex;
    justify-content:start;

}
#main h1{
    background-color:#ccffcc;
}

#main h2{
    background-color: #ccffcc;

}

#main h3{
    background-color: #ccffcc;

}
header{
    width:1000px;
    background-color: #ffcccc;
}

#menu{
    margin:0;
    width:300px;
    background-color: #ccccff;
    display:flex;
}

footer{
    margin:0;
    width:1000px;
    background-color: #ffccff;
}